<div class="container pl-5">
    <div class="row py-5 align-items-center myDiv">
        <div class="col-md-4 pr-lg-5 mb-5 mb-md-0 text-center">
            <img src="https://raw.githubusercontent.com/mRahulJain/TEKsystemsGS/dd8f954be7523fa05f8ff2e8a669a2c1c5be3807/Capstone/frontend/icin-bank/src/assets/svgAccount.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <div class="col-md-7 col-lg-7 ml-auto">
            <div class="row myHoverClass">
                <div class="col-lg-6 text-center border border-info border-right-0 rounded-left p-3 mb-1">
                    <p>Account Number</p>
                    <br>
                    <h6 class="myText">{{accountNumber}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-right p-3 mb-1">
                    <p>Account Holder Name</p>
                    <br>
                    <h6 class="myText">{{accountHolderName}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info border-right-0 rounded-left p-3 mb-1">
                    <p>Account CIF Number</p>
                    <br>
                    <h6 class="myText">{{accountCIFNumber}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-right p-3 mb-1">
                    <p>Account Branch</p>
                    <br>
                    <h6 class="myText">{{accountBranch}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-left border-right-0 p-3">
                    <p>Primary Account Balance</p>
                    <br>
                    <h6 class="myText">₹ {{accountBalancePrimary}}</h6>
                </div>
                <div class="col-lg-6 text-center border border-info rounded-right p-3">
                    <p>Savings Account Balance</p>
                    <br>
                    <h6 class="myText">₹ {{accountBalanceSavings}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>