<div class="container">
    <div class="row py-5 mt-2 align-items-center myDiv">
        <div class="col-md-5 ml-5 pr-lg-5 mb-5 mb-md-0 text-center">
            <img src="https://raw.githubusercontent.com/mRahulJain/TEKsystemsGS/dd8f954be7523fa05f8ff2e8a669a2c1c5be3807/Capstone/frontend/icin-bank/src/assets/svgOnlineBanking.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1 class="display-3">ICIN Bank</h1>
        </div>

        <div class="col-md-7 col-lg-6 ml-auto">
            <h1 class="ml-5 mb-3">Hello, {{userName}}!</h1>
            <p class="ml-5 font-italic">
                Choose an option from above and operate banking at home
            </p>
        </div>
    </div>
</div>