<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand ml-4"><i class="fas fa-university"></i> ICIN Bank</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onDashboard()">Dashboard</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onAccounts()">Accounts</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onChequeBooks()">Cheque Books</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onTransaction()">Transactions</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onTransfer()">Tranfer Money</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn bg-transparent" (click)="onProfile()">Profile</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item my-2 my-lg-0">
                <button class="nav-link btn bg-transparent" (click)="onLogout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>